.group{
    background: #335;
    width: 180px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 100px 80px;
    border-radius: 15px;
}
input,select{
    background: #335;
    display: grid;
    grid-template-columns: 100px 80px;
    border-radius: 15px;
    background-color: #335;
    border: 0;
    color: white;
}
input{
    padding-left: 10px;
}
select{
    padding: 15px;
}
